body {
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.cover-img {
  width: 75vh;
}

.logo {
  background-color: black;
  opacity: 20%;
  border-radius: 8px;
  width: 55vh;
  position:absolute;
  top: 10vh;
  left: 10vh;
  text-align: center;
  display: inline;
}

.logo-img {
  width: 10vh;
}

.logo-txt {
  display: inline;
  font-size: 3rem;
  position:relative;
  bottom: 5vh;
  padding-bottom: 20px;
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 5vw;
}

.form-section {
  margin-top: 20vh;
}

.form-container {
  display: flex;
  flex-direction: row;
  gap: 5vw;
  padding-bottom: 2vh;
}

.form-item {
  display: flex;
  flex-direction: column;
}

button {
  border: none;
  width: 10vw;
  height: 5vh;
  color: white;
  font-size: 2rem;
  background-color: teal;
  border-radius: 8px;
}

button:hover {
  background-color: rosybrown;
}

.input-box {
  box-shadow: 0 8px 16px -6px rgba(0, 0, 0, 0.2);
  clip-path: inset(-100px 0px -100px 0px);
  padding-bottom: 2vh;
  margin-bottom: 4vh;
}

input {
  border: 2px solid grey;
  border-radius: 5px;
  height: 3vh;
  width: 15vw;
  margin-top: 0.5vh;
  font-size: 1rem;
}

label {
  font-size: 0.9rem;
}

p {
  margin-top: 5vh;
}

input:user-invalid {
  border-color: red;
}

input:active {
  border-color: blue;
}

input:user-valid {
  border-color: green;
}
